
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1080px;
    margin:auto
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Navbar/Menu Item */

.full-width{    
    background-color: blue;    
}
.navbar, .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;    
}
.nav-menu{
    list-style: none;
    color: #ffffff;
}
.menu-item{
    padding: 8px 16px;
    font-size: 16;
    font-weight: 500;
}
.button-color{
    background-color: #E02C6D;
    padding: 10px 20px;
    font-size: 16px;
    padding: 10px 24px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500px;
}
.button-color:hover{
    background-image: linear-gradient(yellow, rgb(51, 48, 48));
}
/* Hero Section */
.hero-section{
    display: flex;
    align-items:center;
    width: 1446px;
    height: 677px;
    margin-bottom: 30px;    
}
.intro-text h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color:white;
    margin-right: 100px;
    margin-left: 20px;
}
.intro-image img{
    width: 100%;    
}
/* players Details */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
    margin-bottom: 100px;
}
.single-player{
    width: 300px;
    height: 426px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);    
}
.single-player img{
    width: 100%;
}
.player-name{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 10px;
    color: #18191F;
}
.single-player p{
    font-family: Poppins;
    font-size: 16px;
    color: #6C6C6C;    
}
/* Business Parters */
.partners{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.partner-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-header{
    text-align: center;
}
/* Footer */
footer{
    margin-top: 100px;
}
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.social-icon a{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(233, 236, 236);    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;         
}
.social-icon a i{    
    color: #969BAB;    
}
.copyright{
    text-align: center;
}


/* Media Quaries */
/* Mobile Devices */

@media only screen and (max-width:1020px) {
    .container{
        width: 100%;
        margin: auto;
    }
    .hero-section{
        flex-direction: column;
    }
    .players{        
        grid-template-columns: repeat(1, 1fr) ;
    }
    .single-player{
        flex-direction: column;
    }
    .intro-text{
        width: 100%;
        margin:auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .intro-text h1{
        font-size: 30px;
        text-align:center;
    }
    .partners{
        grid-template-columns: repeat(2, 1fr);
    }
}
